# Web interface
streamlit

# Computer Vision and Image Processing
opencv-python
Pillow
ultralytics

# Scientific Computing
#numpy

# Deep Learning
#torch
#torchvision

# Logging
python-json-logger

# Model Download 
requests

# Progress Bar
tqdm

# Production Deployment
gunicorn
uvicorn

# GPU Support
torch
torchvision